input {
  file {
    path => ["/usr/share/walaniam/stock/data/mstcgl/PKOBP.mst"]
    sincedb_path => "/dev/null"
    start_position => "beginning"
  }
}

filter {
  csv {
    columns => ["<TICKER>","<DTYYYYMMDD>","<OPEN>","<HIGH>","<LOW>","<CLOSE>", "<VOL>"]
  }
  mutate {
   rename => {
     "<TICKER>" => "ticker"
     "<DTYYYYMMDD>" => "date-string"
     "<OPEN>" => "open"
     "<HIGH>" => "high"
     "<LOW>" => "low"
     "<CLOSE>" => "close"
     "<VOL>" => "vol"
   }
   convert => {
     "open" => "float"
     "high" => "float"
     "low" => "float"
     "close" => "float"
     "vol" => "integer"
   }
   lowercase => [ "ticker" ]
  }
  date {
    match => ["date-string", "yyyyMMdd"]
    target => "date"
  }
}

output {
  elasticsearch { 
    hosts => ["elasticsearch:9200"] 
    index => "stock-data"
    document_id => "%{ticker}-%{date-string}"
  }
  stdout { codec => rubydebug }
}
