input {
  file {
    path => "/home/mariusz/IdeaProjects/walaniam/data/mstcgl/PKOBP.mst"
    start_position => "beginning"
  }
}

filter {  
  csv {
    columns => ["<TICKER>","<DTYYYYMMDD>","<OPEN>","<HIGH>","<LOW>","<CLOSE>", "<VOL>"]
  }
}

output {
  elasticsearch { 
    hosts => ["elasticsearch:9200"] 
    index => "pkobp"
  }
}
